<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.spring_redis.mapper.LotteryRecordMapper">

    <insert id="insertOne">
        insert into lottery_record(user_id, activity_id, create_time, alter_time) values (
                                                                                          #{userId}, #{activityId}, #{createTime}, #{alterTime}
                                                                                          )
    </insert>

    <select id="selectByActivityIdLotteryRecord" resultType="com.demo.spring_redis.entity.LotteryRecord">
        select (id, user_id, activity_id, create_time, alter_time) from lottery_record where activity_id = #{activityId}
    </select>

    <select id="selectByActivityIdAndUserIdLotteryRecord"
            resultType="com.demo.spring_redis.entity.LotteryRecord">
        select (id, user_id, activity_id, create_time, alter_time) from lottery_record where activity_id = #{activityId} and user_id = #{userId}
    </select>

</mapper>