<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.spring_redis.mapper.UserMapper">

    <select id="login" resultType="com.demo.spring_redis.entity.User">
        select * from user where username=#{username} and password = md5(#{password})
    </select>

    <insert id="register">
        insert into user(username, password, create_time, login_time) values (
                                                     #{username}, md5(#{password}), #{createTime}, #{loginTime}
                                                    )
    </insert>

</mapper>